@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
.box-wrapper {
	--step: 2rem;
}
.box-wrapper::after {
	content: '';
	z-index: -1;
	@apply bg-primary-cyan absolute h-[calc(100%-3rem)]  top-0 w-3 lg:h-3 lg:w-full lg:top-2/4 lg:-translate-y-2/4;
}
.box-wrapper .box:nth-child(2) {
	@apply lg:translate-y-[calc(var(--step)*1)];
}
.box-wrapper .box:nth-child(3) {
	@apply lg:translate-y-[calc(var(--step)*2)];
}
.copied {
	@apply bg-primary-darkViolet transition-all;
}
.toggle-sidebar {
	@apply relative flex flex-col w-8 cursor-pointer sm:hidden sm:invisible;
}
.toggle-sidebar .bar {
	@apply w-full my-1 h-[3px] bg-neutral-grayishViolet;
}
.toggle-sidebar + .sidebar li,
.toggle-sidebar + .sidebar button {
	@apply font-semibold text-lg my-2 py-2 w-full h-12 flex items-center justify-center;
}
